.container {
  max-width: 1024px;
  margin: 2em auto;
}

.page-title {
  margin-left: 30px;
  margin-top: 10px;
  margin-right: auto;
  text-align: left;
}

div.button {
  margin: 20px;
}

.sort-button {
  width: 50px;
  height: 20px;
  outline-style: solid;
  outline-width: 1px;
  margin: 5px 10px 5px 10px;
  font-size: smaller;
}